<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- Define the bean for reading CSV file -->
    <bean id="resourceFile" class="org.springframework.core.io.ClassPathResource">
        <constructor-arg value="questions.csv"/>
    </bean>

    <!-- Service to handle questions from CSV -->
    <bean id="questionsRepo" class="org.example.repository.QuestionsRepoImpl">
        <constructor-arg ref="resourceFile"/>
    </bean>

    <!-- Service to handle questions from CSV -->
    <bean id="testingService" class="org.example.service.TestingServiceImpl">
        <constructor-arg ref="questionsRepo"/>
    </bean>

</beans>